input {
    border: 1px solid #6441A4;
}

.btn {
    background-color: #6441A4;
    color: white;
}

button {
    font-size: 12px;
}

body {
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.result {
    padding-left: 5px;
    padding-right: 5px;
}

/* Searching for channel */
.user-input {
    margin-bottom: 10px;
}

a {
    display: flex;
    height: 30px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.close-button a{
    height: 30px; 
    width: 30px;
}

.offline a:link, .offline a:visited {
    text-decoration: none;
    color: white;
    background-color: #D9534F;
}

.offline a:hover, .offline a:active {
    cursor: not-allowed;
    background-color: #c9302c;
}

.online a:link, .online a:visited{
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
}

.online a:hover, .online a:active {
    background-color: #449d44;
}

.close-button a:link, .close-button a:visited {
    text-decoration: none;
    color: white;
    background-color: #DEDFE1;
}

.close-button a:hover, .close-button a:active {
    background-color: #808080;
}

.online, .offline {
    text-align: center;
}

td {
    text-align: left;
}

table, td {
    border: 1px solid black;
}

.close-button {
    text-align: center;
    width: 21px;
}

/*td a {
    padding: 1em;
    margin: -1em;
}*/

table {
    border-collapse: collapse;
}

td.loading {
    padding: 5px;
}

@media (min-width:240px) and (max-width:767px) {
    .user-input .form-control {
        display: inline-block;
        width: auto;
        margin: 0;
    }
    .user-input .form-group {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

/*Do mobile first*/
