input {
    border: 1px solid #6441A4;
}

.btn {
    background-color: #6441A4;
    color: white;
}

button {
    font-size: 12px;
}

.help-text-1 {
    padding: 10px 10px 0px 10px;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: #dcd8e8;
    text-align: center;
}

.hero-section {
    background-image: url("hero-picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-text h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 700px;
}

h3 {
    margin-top: 0px;
}

.search-and-results {
    padding: 10px;
}

.result {
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
}

/* Searching for channel */
.personal-results {
    margin-bottom: 10px;
}

a {
    margin: -10em;
    padding: 10em;
    justify-content: center;
    align-items: center;
}

.close-button a{
    height: 30px; 
    width: 30px;
}

.offline a:link, .offline a:visited {
    text-decoration: none;
    color: white;
    background-color: #D9534F;
}

.offline a:hover, .offline a:active {
    cursor: not-allowed;
    background-color: #c9302c;
}

.online a:link, .online a:visited{
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
}

.online a:hover, .online a:active {
    background-color: #449d44;
}

.close-button a:link, .close-button a:visited {
    text-decoration: none;
    color: white;
    background-color: #DEDFE1;
}

.close-button a:hover, .close-button a:active {
    background-color: #808080;
}

.online, .offline {
    text-align: center;
    padding: 3px;
}

td {
    text-align: left;
    overflow: hidden;
}

table, td {
    border: 1px solid black;
    padding: 3px;
}

.close-button {
    text-align: center;
    width: 21px;
}

/*td a {
    padding: 1em;
    margin: -1em;
}*/

table {
    border-collapse: collapse;
}

td.loading {
    padding: 5px;
}

@media (min-width:240px) and (max-width:767px) {
    .user-input .form-control {
        display: inline-block;
        width: auto;
        margin: 0;
    }
    .user-input .form-group {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

/*Do mobile first*/
